@font-face {
	font-family: "SalzburgSerial-Xbold";
	src: url('webFonts/SalzburgSerialXbold/font.woff2') format('woff2'), url('webFonts/SalzburgSerialXbold/font.woff') format('woff');
}

html {
	min-width: 320px;
}

body {
	margin: 0;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 24px;
	font-family: SalzburgSerial-Xbold;
	margin: 10px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-size: 20px;
	font-family: SalzburgSerial-Xbold;
	margin-bottom: 0;
}

.logo {
	width: 100px;
}

.header {
	color: white;
	background-color: red;
	display: flex;
	justify-content: center;
}

.menu {
	color: white;
	letter-spacing: 1.2px;
	font-size: 14px;
	font-family: SalzburgSerial-Xbold;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #333;
}

.main {
	display: flex;
	justify-content: center;
}

.content {
	width: 80%;
	max-width: 800px;
	line-height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	color: #111;
}

p {
	margin: 0
}

ul {
}

li {
	float: left;
}

a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	background-color: #111;
}

a.current {
	background-color: #b81212;
}

@media (min-width: 768px) {
	h1 {
		font-size: 37px;
		margin: 20px;
	}
	
	.logo {
		width: 150px;
	}
	
	.menu {
		font-size: 20px;
	}
	
	li a {
	  padding: 14px 16px;
	}
}
